<div class="row" style="background-color: #f8f8f8;">
  <div class="col-md-4">
    <form>
      <div class="row">
          <div class="form-group">
            <label for="datefield">Date Preference</label>
            <input type="text" placeholder="Choose a Date" class="form-control" bsDatepicker>
          </div>
          
          <br>
          <div class="form-group">
            <label for="activity">Activity</label>
            <select class="form-control" id="activity" name="activity" [(ngModel)]="activity">
              <option *ngFor="let activity of activities" [value]="activity.id">{{ activity.name }}</option>
            </select>
          </div>

          <br>
          <div class="form-group">
            <label for="project">Project</label>
            <select class="form-control" id="project" name="project" [(ngModel)]="project">
              <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
            </select>
          </div>

          <br>
          <div class="form-group">
            <label for="additionalInfo">Additional Info</label>
            <textarea name="additionalInfoAread" id="additionalInfo" cols="50" rows="7"></textarea>
          </div>

      </div>
    </form>
  </div>
</div>